



.footer-container{

    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: max-content;
    background-color: #333;
    margin: 20px 0 0 0;
    padding: 10px 10px 10px 10px;
  }

  .footer-top{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
  }

  .footer-fauxicon{
    display: block;
  }

  .footer-redirects{
    display: block;
    margin: 0 0 0 25px;
  }

  .footer-bottom{
    display: block;
    flex-direction: row;
    text-align: center;
  }