/* OVERRIDE: To Keep Menu Text Clean */
a {
  text-decoration: none;
}

/* Hovering Effect */
.f-h-redirects-button:hover {
  background-color: pink;
}
/* Click Effect */
.f-h-redirects-button:active {
  background-color: pink;
}

/* Landscape Devices */
@media only screen and (min-width: 600px) {

  /* Displays "J.D.E.W.E.Y." on the left of header */
  .f-h-name {
    display: flex;
    position: absolute;
    height: 40px;
    width: 25%;
    align-items: center;
    justify-content: center;
  }

  /* Container for the buttons in the header */
  .f-h-redirects {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #333;
  }

  /* Buttons: Home, About Contact, Portfolio */
  .f-h-redirects-button {
    background-color: #333;
    width: 12.5%;
    text-align: center;
    border: none;
    cursor: pointer;
  }
}

/* Mobile Devices */
@media only screen and (max-width: 600px) {

  /* Displays "J.D.E.W.E.Y." on the left of header */
  .f-h-name {
    display: none;
  }

  /* Container for the buttons in the header */
  .f-h-redirects {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #333;
  }

  /* Buttons: Home, About Contact, Portfolio*/
  .f-h-redirects-button {
    width: 20%;
    text-align: center;
    border: none;
    background-color: #333;
    cursor: pointer;
  }
}