

.header{
    display: block;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-box-name{
    display: flex;
    flex-direction: column;
    width: 75%;
    border: 3px solid #000000;
    background-color: #7c7c7c;
    border-radius: 25px;
    text-align: center;
    
}

.top-box-interests{
    display: flex;
    flex-direction: column;
    width: 75%;
    border: 3px solid #000000;
    background-color: #7c7c7c;
    border-radius: 25px;
    text-align: center;
    
}

@media only screen and (max-width: 600px) {
    .top-box-interests{
        display:none;
    }
}

.top-picture{
    display: block;
    text-align: center;

}
.bottom
{
    display: inline-block;
    text-align: justify;
    margin: 2% 10% 0 10%;
    padding: 2% 2% 2% 2%;

    border: 3px solid #000000;
    background-color: #7c7c7c;
    border-radius: 25px;
}

.download{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2% 0 0 0;

}

.file{
    display: block;
}

.filename{
    display: block;

}