


/* MOBILE DEVICES */
@media only screen and (max-width: 600px) {
    iframe{
        border: 3px solid #000000;
        background-color: #7c7c7c;
        border-radius: 5%;
        width: 250px;
        height: 250px;
    }

    .p-c-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }


    .p-c-card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        width: 85%;
    }
    
    .p-c-work-button{
        text-align: center;
        cursor: pointer;
    }
    
    .p-c-card-header{
        display: block;
        text-align: center;
    
        margin: 2% 0 0 0;
    }
    
    .p-c-map{
        display: block;
        margin: 2% 0 2% 0;
    }
}

/* LANDSCAPE DEVICES */
@media only screen and (min-width: 600px) {
    iframe{
        border: 3px solid #000000;
        background-color: #7c7c7c;
        border-radius: 5%;
        width: 325px;
        height: 325px;
    }

    .p-c-card{
        display: flex;
        flex-direction: column;
        align-items: center;


        flex: 1;
    }
    
    .p-c-work-button{
        text-align: center;
        cursor: pointer;
    }
    

    
    .p-c-card-header{
        display: block;
        text-align: center;
    
    }

    .p-c-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    
        width: 75%;
    }
    
    .p-c-map{
        margin: 5% 0 0 0;
    }
    

}