causes-text {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: white;
}

img {
    max-width: 100px;
    height: auto;
    border-radius: 25%;

}

.cause-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

causes-text {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    color: white;
}

/* Information Elements*/

.information {
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
}

.information-header {
    text-align: center;
    margin: 2% 0 0 0;
}

.information-time {
    text-align: center;
    margin: 2% 0 0 0;
}

.information-news {
    display: block;

    border: 3px solid #000000;
    background-color: #7c7c7c;
    border-radius: 25px;

    max-height: end;
    margin: 5% 5% 0 5%;
    padding: 5% 5% 5% 5%
}

.news-header {
    display: block;
    text-align: center;

    margin: 2% 0 0 0;
}

.news-body {
    display: block;
    text-align: justify;
    height: 200px;
    overflow-y: scroll;

    margin: 2% 0 0 0;
}


.causes {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}

.causes-header {
    display: block;
    text-align: center;
    margin: 2% 0 0 0;
}

.causes-entry {
    display: flex;
    flex-direction: row;

    max-height: max-content;
    align-content: center;
    align-items: center;
    margin: 5% 5% 0 5%;
}

.entry-left {
    margin: auto 5% auto 0;
}

.entry-right {
    position: relative;
}

.right-title {
    text-align: center;
    margin: 0 0 2% 0;
}

.right-body {
    text-align: center;
    line-height: 100%;
}



/* LANDSCAPE DEVICES */
@media only screen and (min-width: 768px) {
    .right-body {
        text-align: justify;
        line-height: 75%;
    }

    .news-body {
        display: block;
        text-align: justify;
        height: max-content;
        overflow-y: hidden;

        margin: 2% 0 0 0;
        padding: 2% 2% 2% 2%;
    }
}