/* OVERRIDE: scales images so that max width is 100 x 100 px" */
img {
    max-width: 100px;
    height: auto;
    border-radius: 25%;
}

/* Button: is the button user presses to learn more about an endeavor" */
.p-i-cause-button {
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

/* Hovering Effect */
.p-i-cause-button:hover {
    background-color: #7c7c7c;
}

/* Custom Tag: applies this style to the text in "Endeavors Important to Me" */
causes-text {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    color: white;
}

/* Main: Allows buffer between header and page */
.p-i-main {
    padding-top: 50px;
}

/* MOBILE DEVICES */
@media only screen and (max-width: 600px) {

    /* Container for Left Side of Main Page */
    .p-i-container-greeting {
        display: flex;
        float: left;
        flex-direction: column;
        align-items: center;
    }

    /* Header for Left Side of Main Page: "Welcome to my Page"" */
    .p-i-header-greeting {
        text-align: center;
        margin: 2% 0 0 0;
    }

    /* Container for the time display */
    .p-i-container-time {
        text-align: center;
        margin: 2% 0 0 0;
    }

    /* Container for the news post */
    .p-i-container-news {
        display: block;

        max-height: end;
        margin: 5% 5% 0 5%;
    }

    /* Header for the news post */
    .p-i-header-news {
        display: block;
        text-align: center;

        margin: 2% 0 0 0;
    }

    /* Body for the news post */
    .p-i-body-news {
        display: block;
        text-align: justify;
        height: 200px;
        overflow-y: scroll;

        margin: 2% 0 0 0;
    }

    /* Container for the right side of the main page */
    .p-i-container-causes {
        display: flex;
        flex-direction: column;
        align-items: center;
        float: left;
    }

    /* Header for Right Side of Main Page: "Endeavors Important to Me" */
    .p-i-header-entry {
        display: block;
        text-align: center;
        margin: 2% 0 0 0;
    }

    /* Container for an entry into "Endeavors Important to Me" */
    .p-i-container-entry {
        display: flex;
        flex-direction: row;

        max-height: max-content;
        align-content: center;
        align-items: center;
        margin: 5% 5% 0 5%;
    }

    /* Container for an entry's button */
    .p-i-contatiner-button {
        margin: auto 5% auto 0;
    }

    /* Container for a description */
    .p-i-container-description {
        position: relative;
    }

    /* Container for a title of cause */
    .p-i-header-entry {
        text-align: center;
        margin: 0 0 2% 0;
    }

    /* Container for the body of cause */
    .p-i-body-entry {
        text-align: center;
        line-height: 100%;
    }
}



/* LANDSCAPE DEVICES */
@media only screen and (min-width: 600px) {

    /* Container for Left Side of Main Page */
    .p-i-container-greeting  {
        display: flex;
        float: left;
        flex-direction: column;
        align-items: center;
    }

    /* Header for Left Side of Main Page: "Welcome to my Page"" */
    .p-i-header-greeting {
        text-align: center;
        margin: 2% 0 0 0;
    }

    /* Container for the time display */
    .p-i-container-time {
        text-align: center;
        margin: 2% 0 0 0;
    }

    /* Container for the news post */
    .p-i-container-news {
        display: block;

        max-height: end;
        margin: 5% 5% 0 5%;
    }

    /* Header for the news post */
    .p-i-header-news {
        display: block;
        text-align: center;

        margin: 2% 0 0 0;
    }

    /* Body for the news post */
    .p-i-body-news {
        display: block;
        text-align: justify;
        height: max-content;
        overflow-y: hidden;
        margin: 2% 0 0 0;
        padding: 2% 2% 2% 2%;
    }

    /* Container for the right side of the main page */
    .p-i-container-causes {
        display: flex;
        flex-direction: column;
        align-items: center;
        float: left;
    }

    /* Header for Right Side of Main Page: "Endeavors Important to Me" */
    .p-i-header-entry {
        display: block;
        text-align: center;
        margin: 2% 0 0 0;
    }

    /* Container for an entry into "Endeavors Important to Me" */
    .p-i-container-entry {
        display: flex;
        flex-direction: row;

        max-height: max-content;
        align-content: center;
        align-items: center;
        margin: 5% 5% 0 5%;
    }

    /* Header for Left Side of: "Endeavors Important to Me" */
    .p-i-contatiner-button {
        margin: auto 5% auto 0;
    }

    /* Container for a description */
    .p-i-container-description {
        position: relative;
    }

    /* Container for a title of cause */
    .p-i-header-entry {
        text-align: center;
        margin: 0 0 2% 0;
    }

    /* Container for the body of cause */
    .p-i-body-entry {
        text-align: justify;
        line-height: 75%;
    }


}