causes-text
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.1;
}

.cause-bttn{
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 25px;
  margin: 0 25px 0 0;
  cursor: pointer;
}


.main {
  display: flex;
  margin: 20px 0 0 0;
}

.main-left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.left-header {
  display: block;
  text-align: center;
}

.left-time {
  display: block;
  text-align: center;
}

.left-directory {
  display: block;
  margin: 25px 50px 0 50px;
  column-gap: 10px;
  row-gap: 10px;
}

.left-info {
  border: 3px solid #000000;
  background-color: #7c7c7c;
  border-radius: 25px;
  display: block;
  margin: 25px 50px 0 50px;
  min-height: 350px;
  max-height: end;
}

.info-header {
  display: block;
  margin: 25px 25px 25px 25px;
  text-align: center;
}

.info-body {
  display: block;
  margin: 25px 25px 25px 25px;
  text-align: justify;
}


.main-right {
  display: block;
  width: 40%;
  margin: 20px 0 0 0;
}

.right-causes {
  display: block;
  margin: 15px 25px 0 15px;
}

.causes-header {
  display: block;
  text-align: center;
}

.causes-container {
  display: flex;
  flex-direction: column;
}

.causes-entry {
  display: flex;
  flex-direction: row;
  margin: 25px 0 0 0;
  max-height: max-content;
  align-content: center;
}

.entry-graphic {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 25px;
  margin: 0 25px 0 0;
}

.entry-content {
  display: block;
  width: 85%;
  line-height: 0.5;

}

.content-title {
  display: block;
  margin: 0 0 0 0;
  height: 16px;
  margin: 0 0 5px 0;
}

.content-body {
  display: block;
  margin: 0 0 0 0;
  max-height: max-content;
}