
.page-header{
  display: block;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0 2% 0;
}

.bttn{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  background-color: #7c7c7c;
  border-radius: 25px;
  border: 3px solid #000000;

  min-width: 60%;
  min-height: 500px;

}

.bttn:hover{
background-color: pink;
}

@media only screen and (max-width: 768px) {

  .bttn{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  
    background-color: #7c7c7c;
    border-radius: 10px;
    border: 3px solid #000000;
  
    min-width: 60%;
    min-height: 100px;
  
  }
}