
.page-header{
  display: block;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0 2% 0;
}

.bttn{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  min-width: 60%;
  min-height: 500px;

}

.bttn:hover{
background-color: pink;
}

@media only screen and (max-width: 600px) {

  .bttn{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  
    min-width: 60%;
    min-height: 100px;
  
  }
}