* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    border: 1px solid red;
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}


.information {
    float: left;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.information-header {
    display: block;
    text-align: center;
    margin: 2% 0 0 0;
}

.information-time {
    display: block;
    text-align: center;
    margin: 2% 0 0 0;
}

.information-news {
    display: block;
    width: 80%;

    border: 3px solid #000000;
    background-color: #7c7c7c;
    border-radius: 25px;

    max-height: end;
    margin: 2% 0 0 0;
}

.news-header {
    display: block;
    text-align: center;

    margin: 2% 0 0 0;
}

.news-body {
    display: block;
    text-align: justify;

    margin: 2% 0 0 0;
    padding: 2% 2% 2% 2%;
}

.causes {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}

.causes-header {
    display: block;
    text-align: center;
    margin: 2% 0 0 0;
}

.causes-entry {
    display: flex;
    flex-direction: row;

    max-height: max-content;
    align-content: center;
    margin: 2% 0 0 0;
    width: 90%;
}

.entry-graphic {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

.entry-content {
    display: block;
    line-height: 0.5;

}

.content-title {
    display: block;
}

.content-body {
    display: block;
    max-height: max-content;
}