
software-header1 {
  font-size: 75px;
  font-weight: bold;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

software-header2 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

software-header3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: white;
}

software-body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    color: white;
}

.redirect-bttn{
    border: none;
    border-radius: 25px;
    margin: 15px 0 0 10px;
    cursor: pointer;
}

.project {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #7c7c7c;
    border-radius: 25px;
    border: 3px solid #000000;
    margin: auto auto 25px auto;
}

.project-head {
    display: block;
}

.project-title {
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
}

.project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 10px;
}

.project-stats {
    display: block;
    margin: 0 0 0 10px;
}


.project-description {
    display: block;
    margin: 10px 0 0 15px;
}

.project-downloads{
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
}

.download{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0 0 0 25px;
}

.file{
    display: block;
}

.filename{
    display: block;
    margin: 0 0 0 15px;
}




.project-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 25px 0;
}

.project-conatiner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}