body{
    background-image: url("../../resources/backgrounds/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    margin-top: auto;

}

*{
    padding: 0;
    margin: 0;
}

html{
    overflow: auto;
}

a{
    text-decoration: none;
    color: white;
  }