
.main {
  display: flex;
  flex-direction: column;
}

.bio-top {
  display: flex;
  width: 100%;
}

.bio-bottom{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.bio-header{
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.profile-pronouns{
  margin: 10px 0 0 0;
  border-radius: 25px; 
  border: 3px solid #000000;
  background-color: #7c7c7c;
  text-align: center;
  width: 300px;
}

.biography-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;

}

.biography{
  border: 3px solid #000000;
  background-color: #7c7c7c;
  border-radius: 25px;
  padding: 10px;
  margin: 0 25px 0 25px;
}

.resume-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin: 25px 0 0 0;
  border: 3px solid #000000;
  background-color: #7c7c7c;
  border-radius: 25px;
  padding: 15px 15px 15px 15px;
}

.resume{
  width: 95%;
  display: block;
  margin: 0 0 0 0;
  height: 791px;
  text-align: center;
  width: inherit;
}
